<!--
    Page for show the user's profile page
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../public/javascripts/profile/like.js"></script>

<script>
    var likePost = function like(id) {
        var request = $.get("/post/like/" ,{id : id});

        request.done(
                function (data) {
                    console.log(data);
                    document.getElementById(id+ "Like").innerHTML = "<i class=\"fa fa-thumbs-up\" aria-hidden=\"true\"></i> Like " + data["Likes"];
                    document.getElementById(id + "Dislike").innerHTML = "<i class=\"fa fa-thumbs-down\" aria-hidden=\"true\"></i> DisLike " + data["Dislike"];
                }
        );
    };
    $('document').ready(function(){

        $('#createpost').hide();
        $('#createpostbtn').on('click',function () {
            $('#createpost').show();
        });
        $('#cancel_post').on('click',function () {
            $('#createpost').hide();
        });

    });
    function addLike(id) {
        $.ajax({
            url : '/post/like/' + id,
            method : 'POST',
            success : function (res) {

            }
        })
    }
</script>

<div class="container">

        <div class="col-md-8">
            <h1 class="page-header">
                Welcome {{user_name}}
                <small>have a nice day...</small>
            </h1>

            <div id="createpost">

                <form action="/post/upload" method="POST" enctype="multipart/form-data">
                    <p ng-show="true"><p class="lead">
                    <input id="title" size="50" name="title" value="type the TITLE here... "/>
                <textarea cols="60" rows="10" id="create_post" name="create_post">
                </textarea>
                    Select an image to upload:
                    <input type="file" name="image">
                    <!--<input type="submit" value="Upload Image">-->

                <a  class="btn btn-danger" id="cancel_post">Cancel post</a>
                <button  class="btn btn-success" type="submit">OK</button>

            </p></p>
                </form>
            </div>

            {{#each notifications}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4><strong> {{this.tourist_name}} | {{this.telephone}} </strong> Send you a Hire Request >>></h4>
                                <a type="button"  id="hire" class="btn btn-success" href="/guide/accept/{{this._id}}" >Accept</a>
                                <a type="button"  id="hire" class="btn btn-danger" href="/guide/reject/{{this._id}}" >Reject</a><br>
                            </li>
                        </ul>
                    </div>
                </div>
            {{/each}}


            <!-- First Blog Post -->
            {{# each posts}}
                <div >
                <h2>
                    <a href="#">{{this.title}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{this.posted_by}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{this.date}} at {{this.time}}</p>
                <hr>
                <img class="img-responsive" src="{{this.image_path}}" alt="">
                <hr>
                <p>{{this.text}}</p>

                <div class="btn-group" role="group" aria-label="...">
                    <button id="{{this._id}}Like" onclick="likePost('{{this._id}}');"  class="btn btn-link"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like  {{this.Likes}}</button>
                    <!--<a onclick="addLike(this._id)" id="{{this._id}}" type="button" class="btn btn-link"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like  {{this.Likes}}</a>-->
                    <a href="/post/dislike/{{this._id}}" id="{{this._id}}Dislike" type="button" class="btn btn-link"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        DisLike  {{this.dislikes}}</a>
                </div>

                    <!--<input type="hidden" id="id_post" name="_id" value="{{this._id}}">-->
                <button type="button" class="btn btn-link"><i class="fa fa-commenting" aria-hidden="true"></i> Comment</button>
                <a  href="/post/delete/{{this._id}}"  id="{{this._id}}" class="btn btn-link"><i class="fa fa-trash-o" aria-hidden="true"></i> delete post</a>
                </div>
                <form action="/comment/post/{{this._id}}">
                    <div class="row">
                        <input type="text" name="comment" value="write a comment.">
                        <button type="submit" href="" class="btn btn-link">ok</button>
                    </div>
                    <!--<a href="/comment/show/{{this._id}}" class="btn btn-link">Show all comments</a>-->
                    <hr>
                </form>
                {{#each this.Comments}}

                    <div class="alert alert-warning" role="alert">{{this.user}}<br>{{this.text}}</div>

                    {{/each}}

            {{/each}}


            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!--Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Need to Find specific posts? Look here <i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">High Rated</a>
                            </li>
                            <li><a href="#">New Posts</a>
                            </li>
                            <li><a href="#">Bookmarks</a>
                            </li>
                            <li><a href="#">Hotels</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Fun Places</a>
                            </li>
                            <li><a href="#">Historical places</a>
                            </li>
                            <li><a href="#">Beaches</a>
                            </li>
                            <li><a href="#">Guides</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Hello User .....</h4>
                <p>Hope You are enjoying......</p>
            </div>
            <button type="button"  class="btn btn-success" id="createpostbtn">Create a Post</button>


            {{#if user_type}}

            <a type="button" href="/guide/hire" class="btn btn-success" id="Hire">Hire a Guide</a>

        {{/if}}
            {{#if guide}}
                {{#if available}}
                <a type="button" href="/guide/not_available" class="btn btn-success" id="available">Available</a>
                    {{else}}
                    <a type="button" href="/guide/available" class="btn btn-danger" id="not_available">Not Available</a>

                {{/if}}
            {{/if}}
        </div>

    </div>
    <!-- /.row -->

    <hr>



</div>
<!-- /.container -->
