<!-- Page Content -->

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                WELCOME !!!
                <small>Happy Travelling Today</small>
            </h1>

            <!-- First Blog Post -->
            {{# each posts}}

                <h2>
                    <a href="#">{{this.title}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{this.posted_by}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{this.date}} at {{this.time}}</p>
                <hr>
                <img class="img-responsive" src="{{this.image_path}}" alt="">
                <hr>
                <p>{{this.text}}</p>


                {{#if @root.loggedin1}}

                <div class="btn-group" role="group" aria-label="...">
                    <a href="/post/like/{{this._id}}" type="button" class="btn btn-link"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like  {{this.Likes}}</a>
                    <a  href="/post/dislike/{{this._id}}" type="button" class="btn btn-link"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        DisLike  {{this.dislikes}}</a>
                </div>
                <button type="button" class="btn btn-link"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>
                <button type="button" class="btn btn-link"><i class="fa fa-commenting" aria-hidden="true"></i> Comment</button>
                <form action="/comment/post/{{this._id}}">
                    <div class="row">
                        <input type="text" name="comment" value="write a comment.">
                        <button type="submit" href="" class="btn btn-link">ok</button>
                    </div>
                    <!--<a href="/comment/show/{{this._id}}" class="btn btn-link">Show all comments</a>-->
                    <hr>
                </form>
                    {{/if}}
                {{#each this.Comments}}

                    <div class="alert alert-warning" role="alert">{{this.user}}<br>{{this.text}}</div>

                {{/each}}

                <hr>


                {{/each}}


            <!-- Second Blog Post -->



            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <form method="post" action="/home/search">
                <div class="well">
                    <h4>Search Place</h4>
                    <div class="input-group">
                        <input type="search_text" class="form-control" name="search_text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>


                <!-- /.input-group -->
            </div> </form>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Need to Find specific posts? Look here <i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">High Rated</a>
                            </li>
                            <li><a href="#">New Posts</a>
                            </li>
                            <li><a href="#">Bookmarks</a>
                            </li>
                            <li><a href="#">Hotels</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Fun Places</a>
                            </li>
                            <li><a href="#">Historical places</a>
                            </li>
                            <li><a href="#">Beaches</a>
                            </li>
                            <li><a href="#">Guides</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Please Log In to gain cool features</h4>
                <p>Travel Lanka provides you a great service if you join with us.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <hr>



</div>
<!-- /.container -->
